# Mac OS X
*.DS_Store

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
OTUSLesson1.xcodeproj/xcuserdata/*
OTUSLesson1.xcodeproj/project.xcworkspace/xcuserdata/*